{% extends "views/base.html" %}

{% block title %}{{ title}}{% endblock %}

{% block content %}
<div class="hero-unit">
<h2>Easy Monitor for Google App Engine</h2></br>
<div>Easy Monitor is a very basic systems of monitoring for your webapp.</br>
e-monitor check every five minutes if your webapp response to an HTTP request status with 200 and search a string in the content.</div>

<div>If your webapp not response the system send an email.</div></br>

<h2>Requirements</h2>
<div><a href="https://appengine.google.com/">Account Google App Engine</a></div>
<div><a href="https://developers.google.com/appengine/downloads">Google App Engine SDK for Python</a></div>
</div>


{% endblock %}